@import "./_mixin";

$main-feed-padding: 0.6rem;
$main-base-width: 81vw;
$border-radius: 5px;
$login-width: 280px;
$navbar-opacity: 0.5;
$content-width: 70%;
$content-border: 2px solid lightgrey;
$title-font-size: 2rem;
$title-font-weight: 600;

$login-btn-color: #2db400;
$btn-text-color: #eeeeee;
$content-header-color: lightslategrey;

$mobile-content-width: 100%;
$mobile-card-border: 1px solid lightgrey;
$mobile-card-padding: 18px 24px;
